---
---

@charset "utf-8";



// Our variables
$base-font-family: "futura-pt", "Futura LT", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;


//
$text-color:    #403E50;
$bg-color:      #fdfdfd;
$green:         #3ECDC3;
$dark:          #201743;
$purple:        #8290D6;
$light-purple:  #6677CC;


// used on actvcontent
$blue:          #4089B0;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;


// Grid
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$grid-columns: 24;  // number of total columns
$grid-gutter: 1rem; // column padding (16px)
$grid-width: 75rem; // max width of row container

$screen-xs-min: 0em;      // min breakpoint for mobile   (0px)
$screen-xs-max: 40em;     // max breakpoint for mobile   (640px)
$screen-sm-min: 40.063em; // min breakpoint for tablet-v (641px)
$screen-sm-max: 48em;     // max breakpoint for tablet-v (768px)
$screen-md-min: 48.063em; // min breakpoint for tablet-h (769px)
$screen-md-max: 64em;     // max breakpoint for tablet-h (1024px)
$screen-lg-min: 64.063em; // min breakpoint for desktop  (1025px)
$screen-lg-max: 90em;     // max breakpoint for desktop  (1441px)
$screen-xl-min: 90.063em; // min breakpoint for desktop+ (1441px)





// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "grid",
  "layout",
  "flickity",
  "index",
  "blog",
  "technology",
  "sepsis",
  "publications",
  "team",
  "contact"
;
