<footer class="layout-footer">
  <section class="cta">
    <div class="row">
      <div class="col-xs-24 col-sm-11 col-md-offset-1 col-md-11">
        <h2 class="blue">Ready to learn more?</h2>
        <h2>Read about our innovations</h2>
      </div>
      <div class="col-xs-24 col-sm-10 col-md-10 text-right">
        <a class="cta-link" href="#demo-modal" rel="modal:open">View Research</a>
      </div>
    </div>
  </section>

  <section class="footer-content">
    <div class="row">

      <div class="col-xs-24 col-sm-10 col-md-10">
        <h5>Featured Publication</h5>
        <a class="footer-blog-title-link" href="{{ site.publications[0].url }}"><h3>{{ site.publications[0].title }}</h3></a>
        <p>{{ site.publications[0].content | strip_html | truncatewords: 32 }}</p>
        <a class="footer-blog-link" href="{{ site.publications[0].url }}">Read more</a>
      </div>

      <div class="col-xs-24 col-sm-6 col-md-offset-4 col-md-3">
        <h5>Company</h5>
        <a class="footer-link" href="/" rel="modal:open">Home</a>
        <a class="footer-link"  href="/technology">Technology</a>
        <a class="footer-link" href="/sepsis">Sepsis</a>
        <a class="footer-link" href="/publications">Publications</a>
        <a class="footer-link" href="/team">Team</a>
      </div>

      <div class="col-xs-24 col-sm-8 col-md-offset-1 col-md-5">

        <h5>Cytovale</h5>
        <small>All Rights Reserved 2016</small>
        <br>
        <small>150 Executive Park Blvd, Suite 4100,<br>
        San Francisco CA 94134</small>
      </div>

    </div>
  </section>

</footer>
