<footer class="layout-footer">

  <section class="footer-content">
    <div class="row">

      <div class="col-xs-24 col-sm-6 col-md-offset-7 col-md-4 footer-links">
        <h5 class="footer-article__subtitle">Menu</h5>
        <a class="footer-link" href="/" rel="modal:open">Home</a>
        <a class="footer-link"  href="/technology">Technology</a>
        <a class="footer-link" href="/sepsis">Sepsis</a>
        <a class="footer-link" href="/publications">Publications</a>
        <a class="footer-link" href="/team">Team</a>
      </div>

      <div class="col-xs-24 col-sm-8 col-md-offset-2 col-md-8">
        <h5>© Cytovale, Inc.</h5>
        <div class="footer-info">150 Executive Park Blvd, Suite 4100</div>
        <div class="footer-info">San Francisco CA 94134</div>
        <div class="footer-info">info@cytovale.com</div>
        <div class="footer-info" style="margin-top: 12px">Website by <a href="https://dixonandmoe.com/" style="color: #6677CC">Dixon & Moe</a></div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-24 text-center">
        <img class="footer-logo" src="/img/footer-logo.svg">
      </div>
    </div>
  </section>

</footer>
