<header>
  <nav class="layout-nav">
    <div class="row">

      <div class="col-xs-14 col-sm-8 col-md-6">
        <a class="nav-link" href="{{ site.baseurl }}/">
         Cytovale
        </a>
      </div>

      <div class="col-xs-hidden col-sm-10 col-md-12 text-center">
        <a class="nav-link" href="/technology">Technology</a>
        <a class="nav-link" href="/sepsis">Sepsis</a>
        <a class="nav-link" href="/publications">Publications</a>
        <a class="nav-link" href="/team">Team</a>
      </div>

      <div class="col-xs-10 col-sm-6 col-md-6 text-right">
        <a class="nav-button" href="/contact">Contact</h1></a>
      </div>

    </div>
  </nav>
</header>