


.blog-index {
  h2{
    letter-spacing: 2px;
  }
  background: #F4F3FA;
  padding: 12em 0;
  @media only screen and (max-width: 640px) {
    padding: 36px 0;
  }
}

.blog-separator {
  width: 100%;
  height: 4px;
  background: #EBEBEB;
  margin: 64px 0;
}

.blog-secondary__title {
  color: $dark;
  font-size: 24px;
}

.blog-index__post {
  box-shadow: 0 2px 30px rgba(0,0,0,0.05);
  transition: all 250ms linear;

  &:hover{
    transition: all 250ms linear;
    box-shadow: 0 2px 30px rgba(0,0,0,0.15);
  }
  position: relative;
  background: white;
  margin: 2em 0;
  padding: 3em 3em;
  h3{
    color: $text-color;
    font-size: 24px;
    &:hover{
      opacity: .8;

    }
  }
  p{
    margin-bottom: 0;
    font-size: 16px;
  }
  @media only screen and (max-width: 640px) {
    padding: 3em 1.5em 2em;
    h3 {
      font-size: 18px;
    }
    p {
      line-height: 1.6;
    }
  }
}
.post-index__subtitle{
  color: $purple;
}
.index__post-arrow{
  text-align: right;
  @media only screen and (min-width: 1300px) {
    top: 45%;
    right: 20px;
    position: absolute;
    &:hover{
      opacity: .7;
    }
  }
}
.index__post-content{
}

.post-index__featured {
  transition: all 250ms linear;
  box-shadow: 0 2px 30px rgba(0,0,0,.10);
  &:hover{
    transition: all 250ms linear;
    box-shadow: 0 2px 30px rgba(0,0,0,0.25);
  }
  margin-top: 4em;
  background: white;
  padding: 3em 3em;
  h1{
    color: $text-color;
    padding: 1em 0;
    font-size: 36px;
    line-height: 1.2;
    &:hover{
      opacity: .8;
    }
  }
  p{
    font-size: 100%;
    color: $grey-color-dark;
  }
  @media only screen and (max-width: 640px) {
    margin-top: 2em;
    padding: 3em 1.5em 2em;
    h1 {
      font-size: 24px;
      padding: 0.5em 0;
    }
    p {
      line-height: 1.6;
    }
  }
}



.post-read{
  font-weight: bold;
  color: $purple;
  padding: 1em 0;
  background: url('../img/post-arrow.svg') no-repeat right;
  a{
    color: inherit;
  }

  &:hover{
    opacity: .7;
  }
}

.post-header {
  margin-top: 120px;
  @media only screen and (max-width: 640px) {
    margin-top: 64px;
  }
}
.post-title {
  font-size: 42px;
  @media only screen and (max-width: 640px) {
    font-size: 28px;
  }
}

.post-content {
  margin: 36px 0 96px;
  @media only screen and (max-width: 640px) {
    margin: 24px 0 64px;
  }
}

.post-block--small a {
  font-size: 10px;
  padding: 8px 12px;

}

.blog-index__news {

  .blog-index__border{
    margin-top: 6.5em;
    height: 20px;
    width: 100%;
    border-top: $purple 2px solid;
    border-bottom: $purple 2px solid;
    @media only screen and (max-width: 640px) {
      margin-top: 4em;
    }
  }

  h3{
    padding-top: 1em;
    color: $dark;
    font-size: 200%;
    letter-spacing: 2px;
  }
  ul{
    li{
      color: $grey-color;
      padding: .5em 0;
      transition: all 250ms linear;

      &:hover{
        color:$grey-color-dark;
        transition: all 250ms linear;

      }
    }
  }

}
