
.contact-header__image {
  width: 500px;
  height: 500px;
  border-radius: 250px;
  border: 6px solid #fff;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  box-shadow: 0 8px 40px rgba(0,0,0,0.2);
}

.contact-list__border{
  height: 20px;
  width: 100%;
  border-top: $purple 2px solid;
  border-bottom: $purple 2px solid;
}

.contact-list__heading {
  color: $dark;
}