h1 {
  line-height: 1.1;
}

h2 {
  margin: 0 0 18px;
  // color: 4;
  font-size: 36px;
  line-height: 1.1;
  @media only screen and (max-width: 640px) {
    font-size: 32px;
  }
}

h5 {
  margin: 0 0 2px;
  color: $blue;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

p {
  color: $dark;
}

.header-index {
  position: relative;
  height: 540px;
  background-color: $dark;
  background-size: cover;
  background-position: center;
  color: #fff;
  // animation: header-slide 1s ease-out;
  .home-h1 {
    color: $green;
    font-size: 78px;
    letter-spacing: 0.04em;
    margin: 0;
    margin-left: 100px;
    animation: fade-in-left 1s ease-out;
  }
  p {
    color: #fff;
    margin: 10px 0 0 28px;
    font-size: 22px;
    letter-spacing: 0.06em;
    animation: fade-in-up 1.2s ease-out;
  }
  @media only screen and (max-width: 640px) {
    height: 560px;
    background-image: none !important;
  }
  &:after {
    content: ' ';
    position: absolute;
    top: 100%;
    background-image: url('/img/home-header-svg.svg');
    background-size: 100% 100%;
    background-position: 0 -1px;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 28%;
    z-index: -1;
  }
}

.header-index__content {
  display: flex;
  margin-top: 120px;
  @media only screen and (max-width: 640px) {
    margin-top: 24px;
  }
}

.header-index__diagram {
  position: relative;
  top: 20px;
  width: 100%;
  height: 200px;
}
.header-index__diagram-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.01);
  // opacity: 0;
}





.header-index__zoom {
  position: absolute;
  top: -50px;
  right: 80px;
  height: 300px;
  width: 300px;
  transform: rotate(45deg) scale(0.8);
  animation: fade-slow 1s;
}
.header-index__zoom-style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 150px;
  border: 1px solid rgba(255,255,255,0.1); 
  // opacity: 0;
}

.header-index__zoom-mask {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 268px;
  height: 268px;
  border-radius: 134px;
  background: #262050;
  border: 1px solid rgba(103,119,203,0.1);
  box-shadow: 0 2px 80px rgba(0,0,0,0.1);
  opacity: 0;
}
.header-index__zoom-line {
  position: absolute;
  width: 100%;
  height: 100%;
  .box {
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0; 
    left: 50%;
    margin-left: -4px;
    background: #6677CC;
  }
  &.top {
    // transform: rotate(90deg);
  }
  &.bottom {
    transform: rotate(180deg);
  }
  &.left {
    transform: rotate(270deg);
  }
  &.right {
    transform: rotate(90deg);
  }
}



.index-about {
  padding: 16em 0 10em;
}


@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  30% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {

  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {

  }
}


@keyframes fade-slow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {

  }
}
