.publications-header__image {
  position: absolute;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  @media only screen and (max-width: 640px) {
    display: none;
  }
}

.publications-header__image-top {
  width: 220px; top: 80px; left: -40px;
  @media only screen and (max-width: 768px) and (min-width: 641px) {
    width: 180px;
    top: 340px;
    left: 260px;    
  }
}
.publications-header__image-mid {
  width: 300px; top: -70px; right: -10px;
  @media only screen and (max-width: 768px) and (min-width: 641px) {
    width: 200px;
    top: 30px;
    right: 20px;
  }
}
.publications-header__image-bot {
  width: 360px; top: -20px; left: 120px;
  @media only screen and (max-width: 768px) and (min-width: 641px) {
    width: 280px;
    top: 120px;
    left: 360px;
  }
}

.header-publications {
  p {
    color: white;
    font-size: 16px;
    line-height: 150%;
  }
}

.blog-index__news {
  a {
    color: $light-purple;
    transition: all 275ms ease-out;
    &:hover {
      color: $dark;
    }
  }
}