

.team-header__bars{
  position: absolute;
  top: -4em;
  margin-left: 4em;
}


.header-team {
    p {
        color: white;
        font-size: 150%;
        line-height: 150%;
    }
}

.header-team--office {
    img {
        position: absolute;
        float: right;
        height: auto;
        border-radius: 1000px;
        background: #fff;
        border: 6px white solid;
        box-shadow: 0 8px 40px rgba(0,0,0,0.2);
        z-index: 1;

          @media only screen and (max-width: 900px) {
              display: none;
          }
    }
}

.team-main {
    margin: 15em 0 0;
    @media only screen and (max-width: 640px) {
        margin-top: 4em;
    }
}

.team-list {
    margin: 0 0 4em;
}

.team-members__block {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 500px;
    background: #fff;
    box-shadow: 0 2px 30px rgba(0,0,0,0.05);
    padding: 3em;
    z-index: 2;

    h1 {
        padding-top: 1.2em;
        color: $text-color;
    }

    .team-members__subtitle {
        text-transform: uppercase;
        color: $text-color;
        opacity: 0.7;
        font-size: 80%;
        letter-spacing: 3px;
        font-weight: 600;
        margin-top: -.5em;
        @media only screen and (max-width: 640px) {
            margin-bottom: 0;
        }
    }

     
    p {
        font-size: 100%;
        padding-top: 1em;
        color: $text-color;
    }
    

    @media only screen and (max-width: 640px) {
        padding: 3em 1.5em 2em;
        margin-top: 1em;
        p {
            line-height: 1.6;
        }
    }
}

.team-members__image {
    position: relative;
    width: 96px;
    height: 96px;
    background-size: cover;
    background-position: center;
    border-radius: 100px;
    background-color: $grey-color;
    &:before {
        content: '';
        position: absolute;
        top: -7px;
        left: -7px;
        width: 110px;
        height: 110px;
        border: 2px solid $green;
        border-radius: 100px;
    }
}
.team-members__image--small {
    top: 10px;
    width: 80px;
    height: 80px;
    &:before {
        width: 94px;
        height: 94px;
    }
}

.board-members__block{
    height: 120px;
    margin-top: 1em;
    margin-bottom: 1em;

    position: relative;
    background: #fff;
    box-shadow: 0 2px 30px rgba(0,0,0,0.05);
    padding: 1.5em 2em;
    z-index: 2;
    img{
      margin-top: .5em;
    }
    h1 {
        color: $text-color;
        margin-top: 1.3em;
        margin-bottom: .15em;
    }

    .board-members__subtitle {
        text-transform: uppercase;
        color: $text-color;
        opacity: 0.7;
        font-size:60%;
        letter-spacing: 2px;
        line-height: 1.8;
        font-weight: 600;

    }
    @media only screen and (max-width: 640px) {
        padding: 1.5em 1em;
    }
}

.investor__block {
    display: flex;
    align-items: center;
    // padding: 0 1em;
}
.investor__block-image {
    width: 33%;
}
.investor__block-title {
    padding: 0 0 0 1em;
}
.investor__block-name {
    margin: 0 !important;
}








