#technology-header {
    &:after {
        content: ' ';
        position: absolute;
        top: 600px;
        background-image: url('/img/technology-header.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 10%;
        z-index: 0;
        @media only screen and (max-width: 900px) {
            display: none;
        }
    }
}

.technology-header__bars {
    position: absolute;
    top: -2em;
    margin-left: 4em;
}

.header-technology {
    p {
        color: white;
        font-size: 150%;
        line-height: 150%;
    }
}

.header-technology--office {
  @media only screen and (max-width: 900px) {
  width: 90%;
  margin: 2em 0;
  }
    img {
        position: absolute;
        float: right;
        height: auto;
        border-radius: 1000px;
        border: 4px white solid;
        z-index: 1;
    }
}

.technology-separator {
    margin-top: 5em;
    background-image: url('/img/technology--separator.svg');
    background-size: 100% 100%;
    padding-bottom: 5%;
    padding-top: 5%;
    width: 100%;
    @media only screen and (max-width: 900px) {
        background-size: 200% 200%;
        background-position: center;
        margin-top: 0em;
        padding: 10%;
    }
}

#technology-main {
    background: $dark;
    padding: 4em 0;

    .technology-main__title {
        color: white;
        text-align: center;
        margin: 5em 0 0;

        sub {
            opacity: 0.5;
        }

        p {
            padding-top: 2.5em;
            color: white;
        }
    }

    .technology-states {
        margin: 2.5em 0;
        @media only screen and (max-width: 900px) {
            padding: 0 1rem;
        }

        .technology-state__blocks {
            padding: 3em 2em;
            margin-top: 34px;
            background: rgba(255,255,255,.9);
            min-height: 275px;

            p {
                color: #403E50;
                font-size: 100%;
            }
        }
    }
}

.technology-comp {
    padding: 6em 0;
    color: white;

    h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 2em;
    }

    p {
        color: white;
        font-size: 100%;
    }
    @media only screen and (max-width: 900px) {
        padding: 1rem;
    }

    .technology-comp__table {
        @media only screen and (max-width: 900px) {
            margin: 1rem 0;
        }
        margin-top: 0.25em;
        color: $grey-color-dark;
        background: rgba(255,255,255,.9);

        h1 {
            font-size: 150%;
            margin-bottom: 0.25em;
        }

        sub {
            font-size: 120%;
            color: $purple;
        }

        div {
            margin-top: 0.7em;
            padding: 1.5em;
        }

        div.image {
            img {
                max-width: 150px;
            }
            margin-top: 0;
            background: white;
        }
    }

    .technology-comp__techs {
        padding-top: 4em;
    }

    .technology-comp__titles {
        @media only screen and (max-width: 900px) {
            display: none;
        }
        padding-bottom: 1em;

        b {
            color: $green;
            text-transform: uppercase;
            font-size: 70%;
            letter-spacing: 3px;
        }
    }

    .technology-comp__results {
        h1 {
            color: $green;
        }
        font-size: 125%;
        margin-top: 4em;
        text-align: center;
    }
}

.technology-system {
    background: $dark;
    padding: 8em 0;

    .technology-system__title {
        margin-bottom: 4em;

        h1 {
            font-size: 150%;
        }
        text-align: center;
        color: white;

        svg {
            margin-bottom: 1em;
        }
    }

    .technology-system__diagrams {
        margin-top: 5%;
        margin-bottom: 15%;

        .technology-system__div {
            position: relative;

            &:after {
                @media only screen and (max-width: 900px) {
                    display: none;
                }
                z-index: 0;
                content: ' ';
                height: 2000px;
                width: 6px;
                background: url('../img/diagram-divisor.svg') no-repeat;
                background-position: center center;
                position: absolute;
                top: 0;
                right: 50%;
            }
        }

        .left-diagram {
            margin-bottom: -20%;
            @media only screen and (max-width: 900px) {
                margin-bottom: 1em;
            }

            figure {
                figcaption {
                    padding-top: 3em;

                    h3 {
                        color: $purple;
                        font-size: 150%;
                    }

                    p {
                        color: rgba(255,255,255,.7);
                    }

                    &:after {
                        z-index: 1;
                        content: ' ';
                        height: 6px;
                        width: 61%;
                        background: url('../img/diagram-connector-left.svg') no-repeat center right;
                        position: absolute;
                        top: 190px;
                        right: 0;
                        @media only screen and (max-width: 900px) {
                            display: none;
                        }
                        @media only screen and (max-width: 1210px) {
                            right: 0;
                            width: 40%;
                        }
                    }
                }
            }
        }

        .right-diagram {
            margin-top: 15%;
            margin-bottom: -15%;
            padding-left: 8em;
            @media only screen and (max-width: 900px) {
                padding-left: 1rem;
                margin-top: 1em;
                margin-bottom: 1em;
            }

            figure {
                &:after {
                    z-index: 1;
                    content: '';
                    height: 6px;
                    width: 18%;
                    background: url('../img/diagram-connector-right.svg') no-repeat;
                    position: absolute;
                    top: 189px;
                    left: -6px;
                    @media only screen and (max-width: 900px) {
                        display: none;
                    }
                }

                figcaption {
                    padding-top: 3em;

                    h3 {
                        color: $purple;
                        font-size: 150%;
                    }

                    p {
                        color: rgba(255,255,255,.7);
                    }
                }
            }
        }
    }
}

.layout-cta {
    background: white;
}
