<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include navigation.html %}
    
    {{ content }}

    {% include footer.html %}



    <!-- Vendor -->
    <script src="/js/animate.js" type="text/javascript"></script>
    <script src="/js/flickity.js" type="text/javascript"></script>

    <script src="/js/main.js" type="text/javascript"></script>

  
  </body>

</html>
