---
layout: default
---

<header class="header-index">
  <div class="row">
    <div class="header-index__content">
      <h1 class="home-h1">{{ page.header_title }}</h1>
      <p>{{ page.header_subtitle }}</p>
    </div>
  </div>
  <div class="header-index__diagram">
    <div class="header-index__diagram-style"></div> 
    <div class="row" style="position: relative;">
      <div class="header-index__zoom">
        <div class="header-index__zoom-line top"><div class="box"></div></div>
        <div class="header-index__zoom-line bottom"><div class="box"></div></div>
        <div class="header-index__zoom-line left"><div class="box"></div></div>
        <div class="header-index__zoom-line right"><div class="box"></div></div>
      
        <div class="header-index__zoom-style"></div>
        <div class="header-index__zoom-mask"></div>

      </div>
    </div>
  </div>
</header>

<main>


<section class="index-about" id="about">
  <div class="row">
    <div class="col-xs-24 col-md-offset-1 col-md-11">
      <h2>Office+Lab Hybrid</h2>
      <p>Based in San Francisco, Cytovale HQ is a bespoke work space fitted out to be the physical equivalent of our technology+biology hybrid company. As a team of 15, working in a collaborative space allows to move quickly and solve the big problems.</p>
      <p>Based in San Francisco, Cytovale HQ is a bespoke work space fitted out to be the physical equivalent of our technology+biology hybrid company. As a team of 15, working in a collaborative space allows to move quickly and solve the big problems.</p>
    </div>
  </div>
</section>


<section class="index-sepsis" id="about" style="padding: 10em 0;">
  <div class="row">
    <div class="col-xs-24">
      <div class="index-sepsis__block">
        <div class="row">
          <div class="col-xs-4">
            <h5 class="index-sepsis__subtitle">Primary Product</h5>
          </div>
          <div class="col-md-offset-1 col-xs-6">
            <h2>Early<br>
              Sepsis<br>
              Detection
            </h2>
          </div>
          <div class="col-xs-10">
            <p>We are enrolling a multi-hundred patient clinical study in support of our flagship product in early sepsis detection in the emergency department, which has the potential to satisfy a $1B+ diagnostic market and significantly reduce morbidity and mortality within the hospital, and we are demonstrating our platform’s potential in several additional applications.</p>
          </div>
        </div>
      </div>  
    </div>
  </div>
</section>


<section class="index-technology" id="technology">
  <div class="row">
    <div class="col-xs-24 col-md-offset-12 col-md-12">
      <h5>The Cytovale System</h5>
      <h2>Technology</h2>
      <p>
        Three decades of work in labs spanning the globe tell us that the biomechanical properties cells are intimately linked with cell state.  Until deformability cytometry, most techniques could only measure tens of cells per hour.
      </p>
      <a href="/technology">Get Technical</a>
    </div>
  </div>
</section>


<section class="index-team" id="team">
  <div class="row">
    <div class="col-xs-24 col-md-offset-6 col-md-12 text-center">
      <h5>Life Scientist, Technologists, Dreamers</h5>
      <h2>The Cytovale Team</h2>
      <a href="/team">Meet the Team</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-24 col-md-offset-3 col-md-18 text-center">
      <div class="index-team__employees js-team">
        <div class="index-team__employee">1</div>
        <div class="index-team__employee">2</div>
        <div class="index-team__employee">3</div>
        <div class="index-team__employee"></div>
        <div class="index-team__employee"></div>
        <div class="index-team__employee"></div>
        <div class="index-team__employee"></div>
        <div class="index-team__employee"></div>
        <div class="index-team__employee"></div>
        <div class="index-team__employee"></div>
        <div class="index-team__employee"></div>
        <div class="index-team__employee"></div>
        <div class="index-team__employee"></div>
        <div class="index-team__employee"></div>
        <div class="index-team__employee"></div>
      </div>
    </div>
  </div>
</section>

<section class="cta">
  <div class="row">
    <div class="col-xs-24 col-sm-11 col-md-offset-1 col-md-10">
      <h2 class="blue">Ready to learn more<span class="qmark">?</span></h2>
      <h2>Read about our innovations</h2>
    </div>
    <div class="col-xs-24 col-sm-10 col-md-10 text-right">
      <a class="cta-link" href="/technology">View Technology</a>
    </div>
  </div>
</section>

</main>

<script src="/js/index.js" type="text/javascript"></script>



