---
layout: default
---

<header id="sepsis-header" class="layout-header">

  <div class="row">
    <div class="sepsis-header__bars">
      <svg xmlns="http://www.w3.org/2000/svg" width="222" height="652" viewBox="235 0 222 652">
      <style>.a{fill:#FFF;}</style>
        <g style="fill-opacity:0.01;fill:none"><rect x="235" width="71" height="652" class="a"/><rect x="386" width="71" height="605" class="a"/></g>
      </svg>
    </div>
    <div class="col-md-1" style="padding-top:1em;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="141 285 16 17">
      <style>.b{stroke-width:2;stroke:#FFF;}</style>
      <g fill="none"><path d="M147 288L155 288" class="b"/>
        <path d="M142 300L155 300" class="b"/><path d="M151.5 294L155.1 294" class="b"/></g></svg>
</div>
    <div class="header-sepsis col-xs-12 col-md-offset-0 col-md-10">
      <h1>{{ page.header_title }}</h1>
    </div>
    <div class="header-sepsis__subtitle col-xs-12 col-md-offset-2 col-md-10">
      <p>{{ page.header_subtitle }}</p>
    </div>
  </div>
</header>

<main>

<section class="sepsis-main">
  <div class="row">
    <div class="col-md-24 text-center">
      <h2>Sepsis Quick Facts</h2>
    </div>
</section>

<section class="sepsis-facts">
  <div class="row">
    <div class="col-md-8">
      <figure class="sepsis-facts__chart">
    <img src='../img/sepsis-chart-1.svg' alt='Sepsis Chart 1' />
    <figcaption>
      <h3>Quiet Killer</h3>
      <p>￼Kills more people than breast cancer, prostate cancer, and HIV/AIDS combined.</p>
    </figcaption>
      </figure>
</div>
    <div class="col-md-8">
      <figure class="sepsis-facts__chart">
    <img src='../img/sepsis-chart-2.svg' alt='Sepsis Chart 1' />
    <figcaption>
      <h3>Accelerated Regression</h3>
      <p>￼Mortality increases 7% per hour of delayed recognition – making rapid diagnosis crucial.</p>
    </figcaption>
      </figure>
</div>
    <div class="col-md-8">
      <figure class="sepsis-facts__chart">
    <img src='../img/sepsis-chart-3.svg' alt='Sepsis Chart 1' />
    <figcaption>
      <h3>Costly Burden</h3>
      <p>Costs over $20B annually in healthcare costs in the U.S.</p>
    </figcaption>
      </figure>
</div>
  </div>
</section>

<div class="sepsis-separator">
</div>

<section class="sepsis-quote">
  <div class="row">
    <div class="col-md-16 col-md-push-4 text-center">
      <h2>
        “The failure to detect sepsis early in its course leads to preventable morbidity and mortality in the emergency room”
      </h2>

      <p>Nate Shaprio — MD in Emergency Medicine and Director of Translational Research Beth Israel Deaconess Medical Center and Harvard Medical School</p>

    </div>
</section>

<section class="sepsis-disease">
<div class="row">
  <div class="col-md-24 text-center">
  <h2>Sepsis — A Disease of Host Response</h2>
  </div>
  </div>
<div class="row">
  <div class="col-md-14 col-md-push-5 text-center">
  <p>In sepsis, normally locally controlled host response to infection become dysregulated, leading to collateral damage to blood vessels and host organs such as the kidneys.</p>
  </div>
</div>


<div class="sepsis-disease__charts">
  <div class="sepsis-disease__cells"></div>
<div class="row">

  <div class="sepsis-disease__body"></div>
  <div class="sepsis-disease__body-blue"></div>
  <div class="col-md-6 col-md-push-6">
    <figure>
      <figcaption>
        <strong>Normal Infection</strong>
        <p>Controlled, effective immune response at the site of an infection</p>
      </figcaption>
      <img src="../img/sepsis-chart-4.png"/>
    </figure>
  </div>
  <div class="col-md-6 col-md-push-6">
    <figure>
      <figcaption>
        <strong>With Sepsis</strong>
        <p>Uncontrolled amplification of the  immune response throught the body</p>
      </figcaption>
      <img src="../img/sepsis-chart-5.png"/>
    </figure></div>
</div>
</div>

</section>
<section class="layout-cta cta">
  <div class="row">
    <div class="col-xs-24 col-sm-11 col-md-offset-1 col-md-12">
      <h2 class="blue">Want to Learn More<span class="qmark">?</span></h2>
      <h2>Read How We Use the Technology</h2>
    </div>
    <div class="col-xs-24 col-sm-10 col-md-10 text-right">
      <a class="cta-link" href="/technology">VIEW SEPSIS TECH</a>
    </div>
  </div>
</section>
</main>
