---
layout: default
---

<header id="team-header" class="layout-header">

  <div class="row">
    <div class="team-header__bars">
<!--       <svg xmlns="http://www.w3.org/2000/svg" width="222" height="652" viewBox="235 0 222 652">
      <style>.a{fill:#FFF;}</style>
        <g style="fill-opacity:0.01;fill:none"><rect x="235" width="71" height="652" class="a"/><rect x="386" width="71" height="605" class="a"/></g>
      </svg> -->
    </div>
    <div class="col-md-1 col-xs-0" style="padding-top:1em;">
<!--       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="141 285 16 17">
      <style>.b{stroke-width:2;stroke:#FFF;}</style>
      <g fill="none"><path d="M147 288L155 288" class="b"/>
        <path d="M142 300L155 300" class="b"/><path d="M151.5 294L155.1 294" class="b"/></g></svg> -->
    </div>
    <div class="header-team col-xs-12 col-md-offset-0 col-md-10 col-xs-24">
      <h1>{{ page.header_title }}</h1>
      <p>{{ page.header_subtitle }}</p>
    </div>
    <div class="header-team--office col-xs-12 col-md-offset-2 col-md-10 col-xs-24">
      <img src="../img/team--office.png"/>
    </div>
  </div>
  <div class="layout-header__graphic">
    {% include header-graphic.html %}
  </div>
</header>

<main>

<section class="team-main">
  <div class="row">
    <div class="col-xs-24">
      <h2>Management Team</h2>
    </div>
</section>
<section class="team-members">
  <div class="row">
    <div class="col-xs-24 col-md-12">
      <div class="team-members__block">
        <div class="row">
          <div class="col-md-8 col-xs-24">
            <img src="../img/ajay.png">
          </div>
        <div class="col-md-16 col-xs-24">
          <h1 class="team-members__name">Ajay Shah</h1>
          <p class="team-members__subtitle">Co-Founder and CEO</p></div>
      </div>
      <div class="row">
        <div class="team-members__description col-md-24"><p>Ajay is an expert in cell-based diagnostic technologies, as well as an experienced entrepreneur. He has previously co-founded two life science companies: Momelan Technologies, a surgical therapeutic company based on microfabrication technologies that was acquired by a strategic investor in 2012, and Insight Surgical Instruments, a neurosurgical instrumentation company that is currently in discussions with a potential acquirer. Ajay received his Ph.D. from the Harvard-MIT Division of Health Sciences and Technology, where he developed a novel platform for circulating tumor cell isolation.</p></div>
      </div>
      </div>
    </div>

    <div class="col-xs-24 col-md-12">
      <div class="team-members__block">
        <div class="row">
          <div class="col-md-8 col-xs-24">
            <img src="../img/mara.png">
          </div>
        <div class="col-md-16 col-xs-24">
          <h1 class="team-members__name">Mara Macdonald, PhD</h1>
          <p class="team-members__subtitle">Co-Founder and COO</p></div>
      </div>
      <div class="row">
        <div class="team-members__description col-xs-24"><p>Mara currently serves as the co-founder and chief operations officer at CytoVale and manages aspects of company building, strategic marketing, and regulatory and clinical operations. Prior to CytoVale, Mara worked with Third Rock Ventures, a venture capital firm focused on launching and building life science companies. While at Third Rock, Mara gained experience in venture creation and company building strategy as a member of the diligence team for many companies including Nurix and Decibel.
        <br><br> </p></div>
      </div>
      </div>
    </div>
  </div>

</section>

<section>
  <div class="row">
    <div class="col-xs-24">
      <h2>Board of Directors</h2>
    </div>
</section>

<section class="board-members">
  <div class="row">
    <div class="col-xs-24 col-md-8">
      <div class="board-members__block">
        <div class="row">
          <div class="col-xs-8">
            <img src="../img/michael.png">
          </div>
        <div class="col-xs-16">
          <h1 class="board-members__name">Michael Atar</h1>
          <p class="board-members__subtitle">Member of the Board</p></div>
      </div>
      </div>
    </div>

    <div class="col-xs-24 col-md-8">
      <div class="board-members__block">
        <div class="row">
          <div class="col-xs-8">
            <img src="../img/jack.png">
          </div>
        <div class="col-xs-16">
          <h1 class="board-members__name">Jack Fuchs</h1>
          <p class="board-members__subtitle">Member of the Board</p></div>
      </div>
      </div>
    </div>

    <div class="col-xs-24 col-md-8">
      <div class="board-members__block">
        <div class="row">
          <div class="col-xs-8">
            <img src="../img/michael.png">
          </div>
        <div class="col-xs-16">
          <h1 class="board-members__name">Michael Atar</h1>
          <p class="board-members__subtitle">Member of the Board</p></div>
      </div>
      </div>
    </div>
  </div>

</section>




</main>
