---
layout: default
---

<header class="layout-header">
  <div class="row">
    <div class="col-xs-24">
      <h1>{{ page.header_title }}</h1>
      <h5>{{ page.header_subtitle }}</h5>
    </div>
  </div>
</header>

<main>

<section class="blog-index">

  <div class="row">
    <div class="col-xs-24">
      <h2>Technology</h2>
      
    </div>
</section>




</main>